/*RESET*/
*{margin:0;padding:0}
header{justify-content: space-between}
header nav ul li, header h1 {margin: 20px;}

/*CONTAINER*/
.flex-row{display:flex;flex-direction:row; flex-wrap: wrap}
.flex-column{display:flex;flex-direction:column;}


.bg-red{background-color: red}
.bg-blue{background-color: blue}



body{
    margin: 0px;
    width: 100%;
}

section.flex-row.bg-blue{
    height: 50vh;
    justify-content: center;
}
section.flex-row.bg-red{
    height: 50vh;
    justify-content: center;
}
  
    
